<md-card id="login">
  <md-card-header>
    <md-card-title>
      <h3>Login</h3>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="login.username" type="text" name="username" required placeholder="Username">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="login.password" type="password" name="password" required placeholder="Password">
    </md-input-container>
  </md-card-content>
  <md-card-footer>
    <button md-button (click)="loginUser()" [disabled]="!canLogin()" class="submit">Login</button>
  </md-card-footer>
</md-card>
